
body {
  margin: 0;
  background-color: rgb(213, 175, 221);
  font-family: 'Courier New', Courier, monospace, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}
/*
h1 {
  color: #190f0d;
  font-size: 30px;
  line-height: 1.4;
  margin: 0;
  font-weight: 700;
}
*/